<h2>Por Region</h2>

<hr>

<div class="row">
  <div class="col text-center">
    <!--  SearchBox  -->
    <!-- <shared-search-box (onValue)="searchByRegion($event)" placeholder="Buscar por capital"></shared-search-box> -->
    <button *ngFor="let region of regions" class=" btn btn-outline-secondary mx-2"
      [ngClass]="{'active': selectedRegion === region}" (click)="searchByRegion(region)">
      {{region | titlecase}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <!--  Table  -->
    <countries-table [countries]="countries"></countries-table>

  </div>
</div>